<ion-header>
  <ion-toolbar>
    <ion-title>Scorecard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-accordian>
    <app-panel *ngFor="let scorecard of scorecards">
      <ion-item header [detail]="true">
        <ion-label>
          <h6>{{scorecard.topic}}</h6>
          <p>Id - {{scorecard.id}}</p>
          <p>Date - {{scorecard.date}}</p>
          <p>Total score - {{scorecard.total_score}}</p>
        </ion-label>
      </ion-item>
      <div body>
        <ion-list>
          <ion-item *ngFor="let question of (scorecard.question_answers | keyvalue)">
            <ion-label>
              <h6>{{question.value['questions']}}</h6>
              <p>{{question.value['points']}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
    </app-panel>
  </app-accordian>

</ion-content>
